@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }
@plugin "daisyui/theme" {
  /* --color-primary: #1E293B;
  --color-secondary: #1E3A8A; */
  --color-primary-content: #4B5563;
}
.body-width {
  max-width: 1280px;
  margin: 0 auto 0 auto;
}


.smooth-underline {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  font-weight: bold;
  /* color:#fff; */
  font-size: 1.125rem;
}
.smooth-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: currentColor;
  transition: width 0.3s ease-in-out;
}

.smooth-underline:hover::after {
  width: 100%;
}

.smooth-border-underline {
  /* display: inline-block; */
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid transparent;
  color: var(--color-secondary);
  transition: border-color 0.3s ease-in-out;
}

.smooth-border-underline.active {
  border-color: currentColor;
}

.btn-glow {
  color: #fff;
  background: linear-gradient(135deg, #6a00f4, #00c6ff);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
  outline: none;
}
.btn-glow::before {
  content: "";
  position: absolute;
  top: -80%;
  left: -80%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, #ffffff40, transparent 50%);
  transform: scale(0);
  transition: 0.4s;
}
.btn-glow:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 20px rgba(100, 200, 255, 0.5);
}



@keyframes floating {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

.animate-floating {
  animation: floating 3s ease-in-out infinite;
}

@keyframes pulse-right {
  0%,100% { transform: translateX(0); }
  50% { transform: translateX(20px); }
}

.animate-pulse-right {
  animation: pulse-right 5s ease-in-out infinite;
}
